.logo {
  width: 100px;
  height: 100px;
  background-image: url(../images/logo.jpg);
  background-size: cover;
  border: #9f0000 solid 1px;
  box-sizing: border-box;
  position: relative;
}

.logo__link {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.logo_place_header {
  position: absolute;
  top: 50px;
  left: 50px;
  box-shadow: white -1px -1px 1px;
  transition: transform 5s;
  transform: rotate(360deg);
}

.logo_place_header:hover {
  transition: transform 5s;
  transform: rotate(-360deg);
}

.logo_place_footer {
  box-shadow: white 1px 1px 1px;
}
