.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  box-sizing: border-box;
}

.header {
  min-height: 600px;
  height: 100vh;
  background-color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  box-shadow: black 0 5px 5px;
}

.header__main-illustration {
  position: absolute;
  top: 0;
  right: 50px;
  height: calc(100% - 100px);
  width: 30%;
  box-sizing: border-box;
  background-image: url(../images/tarantino-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border: white 1px solid;
  margin: 50px 0;
  box-shadow: #9f0000 3px -3px 3px;
}

.header__subtitle {
  color: white;
  margin: 0 0 50px 50px;
  line-height: 30px;
  font-size: 20px;
  font-weight: normal;
  text-decoration: #9f0000 underline;
  z-index: 1;
}

.header__title {
  color:#9f0000;
  text-transform: uppercase;
  text-shadow: white 5px 5px 5px;
  margin: 0 0 50px 50px;
  line-height: 105px;
  font-size: 105px;
  font-weight: bold;
  z-index: 1;
  width: 750px;
}

.logo {
  width: 100px;
  height: 100px;
  background-image: url(../images/logo.jpg);
  background-size: cover;
  border: #9f0000 solid 1px;
  box-sizing: border-box;
  position: relative;
}

.logo__link {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.logo_place_header {
  position: absolute;
  top: 50px;
  left: 50px;
  box-shadow: white -1px -1px 1px;
  transition: transform 5s;
  transform: rotate(360deg);
}

.logo_place_header:hover {
  transition: transform 5s;
  transform: rotate(-360deg);
}

.logo_place_footer {
  box-shadow: white 1px 1px 1px;
}

.logo__picture {
  display: none;
}

.logo:hover .logo__picture {
  display: block;
  position: absolute;
  top: -25px;
  left: 105px;
}

.menu {
  text-align: right;
  position: absolute;
  top: 50px;
  right: calc(30% + 100px);
}

.menu__link {
  color: white;
  text-decoration: none;
  margin: 0 20px 0 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  padding: 0 10px;
}

.menu__link:last-of-type {
  margin: 0;
}

.menu__link:hover {
  color: #9f0000;
  text-shadow: white 0 0 1px;
  box-shadow: white 0 0 5px;
}

.section-title {
  margin: 0;
  padding: 0 25px;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 5px;
  box-shadow: black 0 5px 5px;
  text-shadow: black 3px 3px 3px;
}

.section-subtitle {
  margin: 0;
  padding: 50px 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.bio {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  box-shadow: #9f0000 0 5px 5px;
  border-radius: 25%;
}

.two-columns {
  width: 85%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.two-columns__title {
  text-shadow: black 1px -1px 1px;
  box-shadow: #9f0000 3px -3px 3px;
  line-height: 1.2;
  font-size: 24px;
  letter-spacing: 5px;
  color: #9f0000;
  font-weight: normal;
  min-width: 170px;
  width: 100%;
  text-align: right;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.two-columns__link {
  text-decoration: none;
  text-transform: lowercase;
  color: black;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  box-shadow: black -1px 1px 1px;
  padding: 0 10px;
}

.two-columns__link:hover {
  color: #9f0000;
  box-shadow: #9f0000 -1px 1px 1px;
}

.two-columns__image {
 width: 100%;
 box-sizing: border-box;
 border: #9f0000 1px solid;
 box-shadow: black 3px 3px 3px;
}

.two-columns__main-text {
  width: 80%;
}

.two-columns__paragraph {
  margin: 0 0 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:first-of-type {
  text-indent: 50px;
}

.two-columns__paragraph:nth-of-type(2) {
  text-align: end;
  font-style: italic;
}

.two-columns__paragraph:last-of-type {
  margin: 0;
}

.two-columns__quote {
  line-height: 28px;
  font-size: 18px;
  font-style: italic;
}

.movies {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  background:
    url(../images/jules.png) no-repeat top right,
    url(../images/vinsent.png) no-repeat top left,
    url(../images/aldo.png) no-repeat bottom left,
    url(../images/doctor.png) no-repeat bottom right;
  overflow: hidden;
  }

.movies__square-pic {
  width: 200px;
  height: 200px;
  background-color: #9f0000;
  border: black 5px solid;
  box-shadow: #9f0000 0 0 10px;
  z-index: -1;
}

.movies__square-pic_place_right {
  position: absolute;
  right: -150px;
  top: 27.5%;
}

.movies:hover .movies__square-pic_place_right {
  transition: transform 15s;
  transform: rotate(-360deg);
}

.movies__square-pic_place_left {
  position: absolute;
  left: -150px;
  bottom: 44%;
}

.movies:hover .movies__square-pic_place_left {
  transition: transform 15s;
  transform: rotate(360deg);
}

.movies__square-pic_place_bottom-right {
  position: absolute;
  right: 150px;
  bottom: 15%;
}

.movies:hover .movies__square-pic_place_bottom-right {
  transition: transform 30s;
  transform: rotate(720deg);
}

.movies__square-pic_place_bottom-left {
  position: absolute;
  left: 150px;
  bottom: 15%;
}

.movies:hover .movies__square-pic_place_bottom-left {
  transition: transform 30s;
  transform: rotate(-720deg);
}

.movies__title {
  color: #9f0000;
}

.table {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  width: 90%;
  flex-wrap: wrap;
}

.table__cell {
  min-width: 250px;
  width: 26%;
  min-height: 250px;
  margin-bottom: 50px;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: black 1px 1px 5px;
}

.table__cell:nth-last-of-type(1) {
  margin-bottom: 0;
}

.table__image {
  width: 250px;
  height: 350px;
  border: black 1px solid;
  box-shadow: #9f0000 3px 3px 3px;
}

.table__heading {
  width: 50%;
  text-align: center;
  margin: 25px 0;
  line-height: 1.25;
  font-size: 22px;
  font-weight: bold;
}

.table__link {
  text-decoration: none;
  color: black;
}

.table__link:hover {
  color: #9f0000;
  text-shadow: black 0 0 3px;
}

.table__text {
  width: 80%;
  text-align: center;
  margin: 0 0 15px;
  line-height: 1.25;
  font-size: 16px;
  font-weight: normal;
}

.table__span-accent {
  font-weight: bold;
}

.facts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  min-height: 300px;
  background-color: #9f0000;
  box-shadow: black 0 -5px 5px;
}

.facts__title {
  color: white;
}

.facts__subtitle {
  color: white;
  text-shadow: black 0 3px 3px;
}

.facts__table {
  width: 80%;
  flex-direction: column;
  list-style: decimal-leading-zero;
  color: white;
}

.facts__paragraph {
  margin: 0 0 25px;
  padding: 0 25px 25px;
  line-height: 34px;
  font-size: 20px;
  font-weight: normal;
  text-shadow: black 1px 1px 1px;
  box-shadow: black 1px 1px 1px;
  text-align: right;
}

.facts__paragraph:last-of-type {
  margin-bottom: 0;
}

.footer {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: black 0 -5px 5px;
  background: url(../images/michael-madsen.png) no-repeat bottom left 60%;
  background-color: black;

}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 100px);
  height: calc(100% - 100px);
}

.footer__column {
  display: flex;
  flex-direction: column;
  position: relative;
}

.footer__row  {
  display: flex;
  justify-content: space-between;
}

.footer__row_place_left {
  width: 40%;
}

.footer__row_place_right {
  width: 30%;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  min-width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__column-links_social {
  align-items: flex-start;
}

.footer__link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  display: flex;
}

.footer__link:hover {
  color: #9f0000;
  text-shadow: white 0 0 3px;
}

.footer__social-icon {
  width: 30px;
  height: 30px;
  margin: 0 10px 0;
}

.footer__column_content_copyright {
  justify-content: space-between;
  align-items: flex-end;
  width: 120px;
}

.footer__author {
  color: white;
  margin: 0;
}
